@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin menuHamburguer{
    #menuHamburgguerInput{
        display: none;
      }
      
      .menuHamburgguerLabel{ 
        color: white;
        font-size: 1.8rem;
        line-height: 5rem;
        margin-right: 2.5rem; 
        float: right; 
        cursor: pointer;
        display: none 
      }
}

@mixin tablet{
    @media(max-width: 780px){
        .menuHeader .container h2{
          margin: 0 35px;
        }
      }
}

@mixin mobile{
    @media(max-width: 780px){
        .menuHamburgguerLabel{ 
          display: block;
        }
    
        ul{
          position: fixed;
          width: 100vw;
          height: 100vh;
          background: linear-gradient(rgba(0, 0, 0, 0.75));
        //   background: #009688;
          top: 5rem;
          left: -100%;
          transition: 0.5s;
          text-align: center;
          display: block;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      
        nav ul li {
          display: block;
          margin: 2.1rem;
        }
      
        nav ul li a{
          font-size: 1.25rem;
          line-height: 1.8rem;
          text-decoration: none;
        }
      
        a:hover{
          background: none;
          color: #009688;
        }
          .menuHeader .navigationMenu ul{
          display: flex;
          flex-direction: column;
        }
      
        #menuHamburgguerInput:checked ~ ul{
          left: 0;
        }

        padding: 0;

      }
}